@import url('https://fonts.googleapis.com/css2?family=inter:wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.hero.col img {
    width: 100%;
}

.col img {
    width: 50%;
}

section {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media screen and(max-width: 768px) {
    section {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

.about .col img {
    width: 100%;
}

footer {
    margin-top: 100px;
    padding-bottom: 20px;
}

.footer-link {
    opacity: 75%;
}

.footer-link:hover {
    color: #f43538;
    opacity: 100%;
}

